@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

/* Global Styles */

:root {
  --primary: #072f5c;
  --secondary: #0a5ed7;
  --tertiary: #e8e8e8;
  --accent: #e69f6a;
  --accentTwo: #ff6d00;
}

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--tertiary);
}

.container-fluid {
  height: 100vh;
}

.hide {
  visibility: hidden;
}

/* User Input Container */

button i {
  color: white;
}

.user-input-container {
  height: 25vh;
  background: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-bottom: 2px solid var(--accentTwo);
}

.results {
  min-height: 75vh;
}

/* Live Weather Container */

.current-card {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  padding: 30px;
  background: white;
  gap: 1rem;
}

.location-temp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.location-temp {
  font-size: 4rem;
}

.weather-location-info {
  display: flex;
  justify-content: space-around;
}

.spinner-border {
  position: absolute;
  top: 50%;
  left: 50%;
}

.weather-location-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.location-date {
  text-align: left;
}

.weather-location-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Forecast Container */

.forecast-card {
  display: flex;
  flex-direction: column;
}

.forecast-day {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: white;
}

.forecast-image {
  display: flex;
}

.forecast-temp {
  font-size: 2rem;
}

/* Toggle Metric */

/* CSS for toggle switch button created by https://stackoverflow.com/a/39846603/14625822 */

.toggle-metric-container {
  display: flex;
  justify-content: center;
  margin-top: 1vh;
}

.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--accent);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--accentTwo);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(55px);
}

.slider:after {
  content: "°C";
  color: white;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 20px;
  font-family: Verdana, sans-serif;
}

input:checked + .slider:after {
  content: "°F";
}

/* View on Map Container*/

.view-map {
  margin-bottom: 50px;
}

/* Footer Container */

.footer {
  border-top: 1px solid var(--accentTwo);
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5vh;
  background: var(--tertiary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.footer-items {
  display: flex;
  gap: 2rem;
}

#linkedin-footer-item {
  margin-left: 5px;
  margin-right: 5px;
}

.footer-items a i {
  font-size: 1.3rem;
  color: var(--primary);
}

/* Sun Animation created by https://codemyui.com/animated-weather-icons-in-css/ */

.how-to-container {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  min-width: 300px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.how-to-info h4 {
  text-align: center;
}

.sun {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.5em;
  height: 2.5em;
  margin: -1.25em;
  background: var(--accent);
  border-radius: 50%;
  box-shadow: 0 0 0 0.375em var(--primary);
  animation: spin 12s infinite linear;
}
.rays {
  position: absolute;
  top: -2em;
  left: 50%;
  display: block;
  width: 0.375em;
  height: 1.125em;
  margin-left: -0.1875em;
  background: var(--primary);
  border-radius: 0.25em;
  box-shadow: 0 5.375em var(--primary);
}
.rays:before,
.rays:after {
  content: "";
  position: absolute;
  top: 0em;
  left: 0em;
  display: block;
  width: 0.375em;
  height: 1.125em;
  transform: rotate(60deg);
  transform-origin: 50% 3.25em;
  background: var(--primary);
  border-radius: 0.25em;
  box-shadow: 0 5.375em var(--primary);
}
.rays:before {
  transform: rotate(120deg);
}

.icon {
  position: relative;
  width: 12em;
  height: 10em;
  font-size: 1em; /* control icon size here */
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 480px) {
  .location-temp {
    font-size: 3rem;
  }
  .weather-location-data {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 500px) {
  .location-temp {
    font-size: 2.2rem;
  }
  .weather-location-header h4 {
    font-size: 0.9rem;
  }
  .weather-location-data {
    align-items: center;
    font-size: 0.9rem;
  }
  .weather-location-info {
    flex-direction: column;
  }
}
